---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
import News from '../components/News.astro';
---

<Layout title="Camal 3 || Salta">
	<main class="container mx-auto bg-white">
		<Main></Main>
		<News></News>
	</main>
</Layout>

<style>

</style>
