---

---

<header class="h-16 header w-full md:px-8">
	<nav class="container mx-auto px-7 md:px-20 flex items-center justify-between">
		<a href="/" class=""><img class="size-14 mt-1" src="./public/src/images/logo-canal-3.png" alt="Canal 3 || Inicio" title="Canal 3 - Salta"></a>
		<label for="search-bar" class="flex justify-center">
		<input class="py-2 px-3 outline-none" type="search" name="search-bar" id="search-bar" placeholder="Buscar...">
		<span class="text-gray-900 bg-white flex items-center px-2"><i class='bx bx-search'></i></span>
		</label>
	</nav>
</header>

<style>
	.header {
		background-color: var(--red);
	}
</style>