---

---

<section class="flex flex-col lg:flex-row items-stretch justify-between gap-8 px-10 py-5">
  <article class="flex flex-col gap-4 w-full ">
    <h1 class="text-2xl font-semibold">
      CANAL 3 - <span class=""
        >EN VIVO <span class="text-3xl text-red-600">•</span></span>
    </h1>
    <video src="./src/images/video-loop2.webm" autoplay muted loop controls></video>
    <!-- <iframe
      class="aspect-video"
      src="https://www.youtube.com/embed/VfD4NhpfkXw?si=TIqjP12XXo0MIdmv&controls=0"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen></iframe> -->
  </article>

  <article class="flex flex-col gap-4 pt-2 px-5 w-full  ">
    <h1 class="text-2xl font-semibold">PROGRAMACIÓN</h1>
    <div class="flex flex-col h-80 overflow-y-scroll 2xl:h-full 2xl:overflow-y-auto 2xl:max-h-max gap-4 bg-slate-800 py-4 px-5 ">
      <ul>
        <li class="flex gap-16">
          <span class="font-semibold">07:00</span>
          <span>Panorama N7</span>
        </li>
        <li class="flex gap-16">
          <span class="font-semibold">08:00</span>
          <span>N 08:00 las noticias a las 8 </span>
        </li>
        <li class="flex gap-16">
          <span class="font-semibold">10:00</span>
          <span>Hoy nos toca con Nacho Goano</span>
        </li>
        <li class="flex gap-16">
          <span class="font-semibold">12:30</span>
          <span>N 12.30 </span>
        </li>
        <li class="flex gap-16">
          <span class="font-semibold">14:00</span>
          <span>Vamos o no vamos </span>
        </li>
        <li class="flex gap-16">
          <span class="font-semibold">17:00</span>
          <span>Desperezate </span>
        </li>
        <li class="flex gap-16">
          <span class="font-semibold">19:00</span>
          <span>Enredada </span>
        </li>
        <li class="flex gap-16">
          <span class="font-semibold">19:30</span>
          <span>Lado V</span>
        </li>
        <li class="flex gap-16">
          <span class="font-semibold">20:30</span>
          <span>N 20.30</span>
        </li>
        <li class="flex gap-16">
          <span class="font-semibold">07:00</span>
          <span>Panorama N7</span>
        </li>
        <li class="flex gap-16">
          <span class="font-semibold">08:00</span>
          <span>N 08:00 las noticias a las 8 </span>
        </li>
        <li class="flex gap-16">
          <span class="font-semibold">10:00</span>
          <span>Hoy nos toca con Nacho Goano</span>
        </li>
        <li class="flex gap-16">
            <span class="font-semibold">08:00</span>
            <span>N 08:00 las noticias a las 8 </span>
          </li>
          <li class="flex gap-16">
            <span class="font-semibold">10:00</span>
            <span>Hoy nos toca con Nacho Goano</span>
          </li>

      </ul>
    </div>
  </article>
</section>
