---
---
<section class="px-10">
<h1 class="text-2xl font-semibold">
    ÚLTIMAS NOTICIAS
</h1>
<div class="flex flex-wrap gap-4 py-4 justify-evenly items-center">
    <article class="card-new bg-slate-800"> 
        <img src="./src/images/1.webp" alt="">
        <h2>Noticia 1</h2>
        <p>Aliqua consectetur officia adipisicing occaecat esse minim reprehenderit adipisicing eu.</p>    
    </article>
    <article class="card-new bg-slate-800"> 
        <img src="./src/images/2.webp" alt="">
        <h2>Noticia 2</h2>
        <p>Aliqua consectetur officia adipisicing occaecat esse minim reprehenderit adipisicing eu.</p>    
    </article>
    <article class="card-new bg-slate-800"> 
        <img src="./src/images/3.webp" alt="">
        <h2>Noticia 3</h2>
        <p>Aliqua consectetur officia adipisicing occaecat esse minim reprehenderit adipisicing eu.</p>    
    </article>
    <article class="card-new bg-slate-800"> 
        <img src="./src/images/4.webp" alt="">
        <h2>Noticia 4</h2>
        <p>Aliqua consectetur officia adipisicing occaecat esse minim reprehenderit adipisicing eu.</p>    
    </article>
</div>
</section>

<style>
    .card-new {
        text-wrap: pretty;
        height: 320px;
        width: 285px;
        border: 1px solid #1d1d1d;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.5rem;
    
        h2 {
            font-size: large;
            font-weight: bold;
        }
    

        
    }


</style>